.a-center{
  /* display: flex;
  justify-content: center; */
}
.header-logo{
  padding: 8px 24px;
}
.ant-layout-sider-children{
  position: relative;
}
.header-collapsed {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 22px 24px;
  height: 64px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  font-size: 20px;
}

.header-collapsed:hover, .header-dropdown-link:hover {
  background-color: rgba(0, 0, 0, .025);
}
.ant-breadcrumb{
  padding-bottom: 5px;
  background-color: #D2EBFE !important;
}
.container{
  padding: 20px;
}